<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>

    <div style="background-color: rgb(197, 197, 209); width: 60%; height: 30px; 
                margin-left: 20%;">
        <ul style="display: flex; list-style: none; justify-content: center; 
                color: white; font-size: 20px; margin-right: 14%; cursor: pointer; text-decoration: none;" >
            <li style="margin-left: 10%;"><a style="color: black;" href="accueil">Accueil</a></li>
            <li style="margin-left: 12%;"><a style="color: black;" href="services">Nos Services</a></li>
            <li style="margin-left: 10%;"><a style="color: black;" href="contact">Contactez-nous</a></li>
           </ul>
    </div>
   Lorem ipsum, dolor sit amet 
   consectetur 
   adipisicing elit. 
   Eligendi dolorum 
   facilis qui repellat. 
   Ex fugiat molestiae a 
   delectus, molestias repellendus 
   illo asperiores deserunt nesciunt, 
   ea voluptatibus tenetur laborum facere tempore?

    <h1>Coucou <%=nom%>, <%=dev%></h1>
</body>
</html>